/* Setting the background color of the page. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #1A1500;
	color: white;
}

/* The CSS code for the button. */
.botao {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    outline: none;
    color: #1A1500;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
/* Changing the background color of the button when the mouse is over it. */
  .botao:hover {background-color: #3e8e41}
  
  .botao:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }