/* A CSS reset. It is used to reset the default styling of the browser. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1A1500;
	color: white;
}
/*Styling the h1 tag. */
h1{
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: url('./background.png');
    /* Creating a text animation. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 7.5s linear infinite;
}

/* Creating a keyframe animation called "text" that will move the background from 0% to 100% in the x-axis and from 50% to 100% in the y-axis. */
@keyframes text{
    from { background-position: 0% 50%; }
    to { background-position: 100% 100%; }

}